<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>{{ .title }}</title>
  <link type="text/css" href="/css/bootstrap.min.css" rel="stylesheet" />
  <link type="text/css" href="/css/bootstrap-select.min.css" rel="stylesheet" />
  <link type="text/css" href="/css/paper-dashboard.min.css" rel="stylesheet" />
  <link type="text/css" href="/css/dashboard.css" rel="stylesheet" />
  <link type="text/css" href="/css/collapsible.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" as="style" />
  <link href="https://kit.fontawesome.com/290dfce5d1.js" rel="prefetch" as="script" />
  <link type="text/css" href="/css/base.css" rel="stylesheet" as="style" />
  <link nonce="L3LOp3aNofapbpOCkHQO1Srf2lGnkyHNwNB" href="/js/jquery-3.6.0.slim.min.js" rel="prefetch preload"
  as="script" />
  <link nonce="L3LOp3aNofapbpOCkHQO1Srf2lGnkyHNwNB" href="/js/bootstrap-native-v4.min.js" rel="prefetch preload"
    as="script" />
  <link nonce="L3LOp3aNofapbpOCkHQO1Srf2lGnkyHNwNB" href="/js/bootstrap.bundle.js" rel="prefetch preload"
    as="script" />
  <link nonce="L3LOp3aNofapbpOCkHQO1Srf2lGnkyHNwNB" href="/js/bootstrap-select.min.js" rel="prefetch preload"
    as="script" />
  <link nonce="y58vB0YcsFUOYixuRFjSx0uITSm3YnCVAB5" href="/js/base.js" rel="prefetch preload" as="script" />
  {{ template "resource-links" . }}
</head>

<body>
      {{ template "content" . }}

  <script nonce="1It3CfyCiyI93KWEi26QiIRfG1TNMo9wK9x" src="/js/jquery-3.6.0.slim.min.js"></script>
  <script nonce="e4zbFQkecaRZz50HTJKupKyXpYpjiqZ1xGz" src="https://kit.fontawesome.com/290dfce5d1.js"></script>
  <script nonce="1It3CfyCiyI93KWEi26QiIRfG1TNMo9wK9x" src="/js/bootstrap-native-v4.min.js"></script>
  <script nonce="1It3CfyCiyI93KWEi26QiIRfG1TNMo9wK9x" src="/js/bootstrap.bundle.js"></script>
  <script nonce="1It3CfyCiyI93KWEi26QiIRfG1TNMo9wK9x" src="/js/bootstrap-select.min.js"></script>
  <script nonce="y58vB0YcsFUOYixuRFjSx0uITSm3YnCVAB5" src="/js/base.js"></script>
  {{ template "scripts" . }}
</body>

</html>